[*.cs]
end_of_line = lf

csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_new_line_between_query_expression_clauses = false

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped


# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false


# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false


# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = when_types_exactly_match

