@model ZipZap.Classes.User

<details class="border border-1 rounded p-2 bg-white col-5 height-8">
    <summary class=" text text-bold lead " style="display:block">
        See Details
    </summary>
    <hr>
    <span class="text-secondary ">Id: @Model.Id</span>
    <br />
    <span class="text-secondary">Email: @Model.Email</span>
    <br />
    <span class="text-secondary">Uid: @Model.DefaultOwnership.FsoOwner</span>
    <br />
    <span class="text-secondary">Gid: @Model.DefaultOwnership.FsoGroup</span>
</details>
