@page
@model ZipZap.Front.Pages.Admin.Users.IndexModel
@{
    ViewData["Title"] = "User List";
}

<div>
    <style>
        .user {
            &:hover {
                background-color: #fafafa
            }
            transition: all 0.1s
        }
    </style>
    <ul class="list-group d-flex flex-column align-items-center">
        @foreach (var user in Model.Users)
        {
            <li class="user list-group-item border border-1 d-flex justify-content-between align-items-center w-50 flex-row user">
                <a asp-page="/Admin/Users/User" asp-route-id="@user.Id" class="text lead"><strong>
                    @user.Username</strong></a>
                    <br />
                    <a asp-page="/Files/View" asp-route-path="@user.Root.Id" asp-route-type="id" class="btn btn-link">View File
                        Tree</a>
                    </li>
                }
            </ul>
        </div>
